#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

main{
  width: 100%;
  height: calc(100% - 89px);
  display: grid;
  place-content: center;
}